
body {
  background-color: #48426d;
  font-family: "Poppins", sans-serif;
}
.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
}

li {
  list-style: none;
  line-height: 32px;
}

.city {
  color: #bcd4c6;
  font-size: 18px;
  font-weight: bold;
}

input, button {
  font-family: "Poppins", sans-serif;
}

img {
  width: 80px;
}